/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Slabo+27px");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body,
#root,
.app {
  min-height: 100%;
  height: 100%;
}

/* Base Layout */
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100% - 80px);
}

.page hr {
  min-width: 150px;
  background: transparent;
  border: 0;
  border-top: 1px dashed #ddd;
  margin-bottom: 3em;
  align-self: center;
}

.page.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

.linkbox a,
.linkbox a:visited,
header nav a,
header nav a:visited {
  font-family: "Open Sans", sans-serif;
  color: #000;
  text-decoration: none;
}

.linkbox a:hover,
.linkbox a.active,
header nav a:hover,
header nav a.active {
  color: #0099ff;
}

header nav {
  display: flex;
  height: 100%;
  align-items: center;
}

.linkbox,
header nav.menu {
  width: 32%;
  justify-content: flex-start;
  padding-left: 1em;
}

.linkbox {
  align-self: flex-end;
  justify-content: flex-end;
  margin: 20px;
  padding: 20px;
  display: flex;
}

.linkbox a,
header nav.menu a {
  margin-right: 1em;
}

header nav.action {
  width: 32%;
  justify-content: center;
}

header nav.user {
  width: 32%;
  justify-content: flex-end;
  padding-right: 1em;
  font-family: "Slabo 27px", serif;
}

header nav.user a {
  margin-left: 1em;
}

h1 {
  font-size: 2em;
}

h1,
h2,
h3,
.vs {
  font-family: "Slabo 27px", serif !important;
}

.button,
h4,
h5,
h6,
p {
  font-family: "Open Sans", sans-serif;
}

div.icon {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 2vw;
  background: #aaa;
  align-self: center;
  background-position: center center;
  background-size: 100% 100%;
}

div.ask {
  width: 100%;
  max-width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

div.ask h1 {
  text-align: center;
}

.choices {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  min-width: 250px;
}

.choices > li {
  padding: 3vw 0;
  width: 40%;
  display: flex;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choices > li:first-child {
  justify-content: flex-end;
}

.choices > li:last-child {
  justify-content: flex-start;
}

.choices > li.vs {
  justify-content: center;
  font-size: 1.3em;
  font-weight: 900;
  margin-top: 10px;
  width: 20%;
  color: rgba(0, 0, 0, 0.3);
}

.auto-center {
  margin: 0 auto !important;
}

.button {
  display: inline-block;
  border-radius: 3px;
  background: transparent;
  border: none;
  padding: 10px 15px 10px 15px;
  margin: 0 10px;
  color: #fff;
  font-size: 15px;
  white-space: nowrap;
  min-height: 21px;
  line-height: normal;
  text-decoration: none;
  text-align: center;
}

.page .button {
  min-width: 120px;
  margin: 10px 0 0 0;
}

.loader svg {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

.button:hover:not([disabled]) {
  border-color: #0099ff;
  cursor: pointer;
}

.button.primary:not([disabled]) {
  border: transparent;
  background: #0099ff;
  color: #fff;
}

.button.primary:hover:not([disabled]) {
  color: #fff;
  background: #0077bb;
}

.button.answered {
  color: #fff;
  box-shadow: 0 0 2px 2px #00ffff;
  background: #0099ff !important;
}

.button[disabled] {
  background: #ddd;
  color: #fff;
}

:not(disabled) .hidden {
  display: none;
}

table {
  margin: 5vw;
  /* DEBUG border: 2px solid rgba(0, 128, 255, 0.5); */
  font-family: "Slabo 27px", serif !important;
  font-size: 21px;

  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

thead {
  color: #0099ff;
}

tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
}

tr {
  display: flex;
  width: 100%;
  min-height: 50px;
}

tbody:empty:before {
  content: "No Items";
  text-align: center;
  color: #ddd;
  padding-top: 80px;
}

td {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 10px;
  font-size: 16px;
  margin: 20px 20px 0;
  resize: none;
  height: 60px;
}

.text-right {
  text-align: right;
}

.last-question {
  text-align: center;
  font-size: 16px;
  font-family: "Slabo 27px", serif !important;
}

.king {
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.king p {
  margin-bottom: 30px;
}

.lucky a {
  text-decoration: none;
  font-family: "Slabo 27px", serif !important;
  font-size: 20px;
  color: #0099ff;
}
